{:deps {org.clojure/clojure           {:mvn/version "1.10.1"}
        org.clojure/clojurescript     {:mvn/version "1.10.597"}
        datascript                    {:git/url "https://github.com/tonsky/datascript.git"
                                       :sha     "277f533a13e3f6e511578901f3a24efde4f9f0c2"}
        darkleaf/effect               {:mvn/version "1.0.0"}
        medley                        {:git/url "https://github.com/weavejester/medley.git"
                                       :sha     "d723afcb18e1fae27f3b68a25c7a151569159a9e"}
        cljc.java-time/cljc.java-time {:mvn/version "0.1.11"}
        com.stuartsierra/component    {:mvn/version "1.0.0"}
        ;; config
        aero                          {:mvn/version "1.1.6"}
        ;; web
        metosin/reitit-core           {:mvn/version "0.5.10"}
        metosin/reitit-ring           {:mvn/version "0.5.10"}
        ;; persistence
        seancorfield/next.jdbc        {:mvn/version "1.1.613"}
        org.postgresql/postgresql     {:mvn/version "42.2.18"}
        hikari-cp                     {:mvn/version "2.13.0"}
        org.flywaydb/flyway-core      {:mvn/version "7.2.0"}
        ;; logger
        org.slf4j/slf4j-simple        {:mvn/version "1.7.30"}}

 :paths ["src" "resources"]

 :aliases {:dev       {:extra-paths ["dev" "test"]
                       :extra-deps  {criterium/criterium {:mvn/version "0.4.6"}}}
           :cljs-test {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
                       :main-opts  ["-m" "cljs-test-runner.main"]}
           :clj-test  {:extra-deps {com.cognitect/test-runner
                                    {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                     :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                       :main-opts  ["-m" "cognitect.test-runner"]}}}
