{:jdbc
 {:jdbcUrl
  #or [#env JDBC_URL
       #profile {:test "jdbc:pgsql://localhost:3402/postgres?user=postgres&password=password"
                 :dev  "jdbc:pgsql://localhost:3401/postgres?user=postgres&password=password"}]}}
