{:deps {org.clojure/test.check {:mvn/version "0.9.0"}
        orchestra              {:mvn/version "2017.11.12-1"}
        darkleaf/either        {:git/url "https://github.com/darkleaf/either.git"
                                :sha     "d7aa1934718722d3aefc064969c9250c690acfac"}}

 :aliases {:dev {:extra-paths ["test"]}}}
