{:deps {org.clojure/test.check {:mvn/version "0.9.0"}
        orchestra              {:mvn/version "2017.11.12-1"}
        darkleaf/either        {:git/url "https://github.com/darkleaf/either.git"
                                :sha     "18877bc52019a4efa5ec8f32ddb4774d9ccff525"}}

 :aliases {:dev {:extra-paths ["test"]}}}
